.promotion_program{
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 16px;
    color: #333333;
}
.promotion_program_padding{
    margin: 20px;
}
.promotion_program_title{
    font-weight: bold;
    font-size: 16px;
    color: #333333;
}
.promotion_program_content{
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 15px;
    color: #718096;
    text-align: justify;
}
.promotion_program_content-a{
    padding-top: 80px;
    padding-bottom: 50px;
    font-size: 15px;
    color: #718096;
    text-align: justify;
}
.promotion_program_img{
    height: 242px;
}
.promotion_program_img-a{
    height: 450px;
}
.promotion_details_img{
    height: 600px;
}
.promotion_details_img-a{
    height: 400px;
}
.promotion_program_time{
    padding-left: 10px;
    font-size: 13px;
    font-weight: 300;
    color: #C5C5C5;
}
.promotion_program_btn{
    background: #F7BC00;
    width : 125px;
    height: 38px;
    border: none;
    border-radius: 22px;
    color: #333;
    font-weight: 600;
    font-size: 13px;    
}
.section-padding-promotion{
    padding-top: 50px;
    padding-bottom: 50px;
}
.row-promotion{
    height:200px;
    border-top-right-radius: 14px;    
    border-top-left-radius: 14px;
}
.clearfix{
    overflow: auto;
}
.pro_details_title{
    font-weight: bold;
    font-size: 24px;
    color: #333333;
}
.promotion_details_content{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 15px;
    color: #333333;
    text-align: justify;
}
.promotion_details_content-a{
    padding-bottom: 30px;
    font-size: 15px;
    color: #333333;
    text-align: justify;
}
.vision_title{
    font-weight: 800;
    font-size: 24px;
    color: #222222;
}
.vision_content{
    font-size: 15px;
    color: #333333;
    opacity: 0.7;
}
.vision_col{
    padding: 20px;
    color: #333;
}
.vision_col:hover{
    background: #F7BC00;
    border-radius: 16px;
    color: #fff;
}
.vision_title:hover,.vision_content:hover{
    color: #fff;
}
@media screen and (max-width:768px) {
    .promotion_program_padding{
        margin: 5px;
    }
    .promotion_program_btn{
        width: 100px;
        height: 30px;
    }
    .row-promotion{
        height:150px;
    }
    .promotion_program_img-a{
        height: 200px;
    }
    .promotion_details_img{
        height: 300px;
    }
    .promotion_details_img-a{
        height: 250px;
    }
    .promotion_program_content-a{
        padding-top: 15px;
        padding-bottom: 20px;
        font-size: 15px;
        color: #718096;
        text-align: justify;
    }
}